Importa pandas y usa un alias para poder utilizar sus recursos

In [2]:
import pandas as pd

Cargar como dataframe de pandas el csv imdb_titulos.csv y mostrar sus 5 primeros registros

In [3]:
ruta = "./imdb_titulos.csv"
dft = pd.read_csv(ruta, delimiter=",")
dft.head(5)

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

Cargar como dataframe de pandas el csv imdb_elenco.csv y mostrar sus 5 primeros registros

In [4]:
ruta = "./imdb_elenco.csv"
dfe = pd.read_csv(ruta, delimiter=",")
dfe.head(5)

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

Mostrar el número de registros del dataframe de titulos

In [5]:
print("Número de titulos:", len(dft))

Número de titulos: 230407

Mostrar el número de registros del dataframe de elenco

In [6]:
print("Número de registros en elenco:", len(dfe))

Número de registros en elenco: 3564650

Mostrar las 5 peliculas más antiguas del listado de titulos

In [7]:
print("Las 5 películas más antiguas son: \n")
dft.sort_values(by="year").head(5)

Las 5 películas más antiguas son:

                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

Mostrar las peliculas que en el titulo tienen la palabra "Dracula". También mostrar el número total de peliculas que coincidan con este requisito

In [8]:
pd.options.display.max_rows = None
drac=dft[dft["title"].str.contains("Dracula")].reset_index().drop(['index'], axis=1)
print("Las películas con Dracula en el nombre son: \n", drac, "\nTotal películas:", len(drac))

Las películas con Dracula en el nombre son:
                                                 title  year
0                          Bonnie & Clyde vs. Dracula  2008
1                                    House of Dracula  1945
2                                      Batman Dracula  1964
3                                   Terror of Dracula  2012
4                                      Dracula Rising  1993
5                                    Die Hard Dracula  1998
6                         Dracula (The Dirty Old Man)  1969
7                                    Scars of Dracula  1970
8                                             Dracula  1992
9                    Dracula vs the Ninja on the Moon  2009
10                                            Dracula  1958
11  Il cav. Costante Nicosia demoniaco, ovvero: Dr...  1975
12                                   Tales of Dracula  2015
13                                   Blood of Dracula  1957
14                                     Tendre Dracula  1974
15                          Blood of Dracula's Castle  1969
16                             Dracula's Family Visit  2006
17                                            Dracula  1999
18                   Dracula Has Risen from the Grave  1968
19               Dracula: Pages from a Virgin's Diary  2002
20                                 I Dream of Dracula  2003
21                                     Dracula Reborn  2015
22                              The Brides of Dracula  1960
23              Guess What Happened to Count Dracula?  1971
24                                            Dracula  1931
25                           Galgali familywa Dracula  2003
26                                       Dracula 2012  2013
27                                    Dracula's Guest  2008
28                       Billy the Kid Versus Dracula  1966
29                                     Khooni Dracula  1992
30                                    Dawn of Dracula  2013
31                              The Return of Dracula  1958
32                              Batman Fights Dracula  1967
33                                        Dracula 0.9  2012
34                                  Dracula A.D. 2015  2015
35                                       Lady Dracula  1977
36                        Les Charlots contre Dracula  1980
37                                The Sins of Dracula  2014
38                                       Mama Dracula  1980
39                                Dracula the Impaler  2002
40                                         Dracula 3D  2012
41                                  Blood for Dracula  1974
42                            Fracchia contro Dracula  1985
43                                    Dracula's Widow  1988
44                                    Cult of Dracula  2016
45                                      Dracula's War  2018
46                        Dracula: Dead and Loving It  1995
47                                  Kwansukui Dracula  1982
48                                    Dracula: Reborn  2012
49                                            Dracula  2019
50                                     Son of Dracula  1943
51                            Il risveglio di Dracula  1963
52                        Dracula: Prince of Darkness  1966
53                 The Making of 'Dracula and Stoker'  2012
54                                   Countess Dracula  1971
55                                     Dracula Untold  2014
56                                   Dreaming Dracula  2014
57                         Creep Creepersin's Dracula  2013
58                                       Dracula 2000  2000
59                                            Dracula  1979
60                                    Dracula's Curse  2006
61                         Graf Dracula in Oberbayern  1979
62                                   Shaitani Dracula  2006
63                          Killer Barbys vs. Dracula  2002
64                                 Dracula's Daughter  1936
65                       Dracula's Orgy of the Damned  2013
66                                       Dracula 3000  2004
67                           Dracula vs. Frankenstein  1971
68                                     Doctor Dracula  1978
69                           Frankenstein vs. Dracula  2018
70                           Dracula: The Dark Prince  2013
71      Allen and Rossi Meet Dracula and Frankenstein  1974
72                                La fille de Dracula  1972
73                                   Saint Dracula 3D  2012
74                                    Dracula's Angel  2014
75                       Nachts, wenn Dracula erwacht  1970
76                         Taste the Blood of Dracula  1970
77                                  Dracula A.D. 1972  1972
78                                      Dracula's Dog  1978
79                                        Dracula Now  2015
80                       The Satanic Rites of Dracula  1973
81                                     Son of Dracula  1974
82                                 Dracula and Stoker  2012
Total películas: 83

Mostrar los 10 titulos más comunes (que más se repiten)

In [9]:
print("Los 10 títulos más comunes son:") 
dft["title"].value_counts().head(10)

Los 10 títulos más comunes son:

Hamlet                  19
Carmen                  16
Macbeth                 15
Maya                    11
The Outsider            11
Hero                    11
Othello                 11
The Three Musketeers    11
Anna                    10
Vengeance               10
Name: title, dtype: int64

Mostrar cual fue la primer pelicula hecha titulada "Romeo and Juliet"

In [10]:
RyJ=dft[dft["title"].str.contains("Romeo and Juliet")].sort_values(by="year").head(1).reset_index().drop(['index'], axis=1)
print(RyJ)
print("La primera película titulada {} fue estrenada en {}".format(RyJ['title'].iloc[0], RyJ['year'].iloc[0]))

              title  year
0  Romeo and Juliet  1916
La primera película titulada Romeo and Juliet fue estrenada en 1916

Listar todas las peliculas que contengan la palabra "Exorcist" ordenadas de la más vieja a la más reciente

In [11]:
dft[dft["title"].str.contains("Exorcist")].sort_values(by="year").reset_index().drop(['index'], axis=1)

                                     title  year
0                             The Exorcist  1973
1                  O Exorcista de Mulheres  1974
2                 Exorcist II: The Heretic  1977
3                         Kung Fu Exorcist  1978
4                         The Exorcist III  1990
5                         Teenage Exorcist  1991
6                  Exorcist: The Beginning  2004
7        Dominion: Prequel to the Exorcist  2005
8   Costa Chica: Confession of an Exorcist  2006
9                      Exorcist Chronicles  2007
10                      The Disco Exorcist  2011
11                     Exorcist Chronicles  2013
12                          Shark Exorcist  2015
13                           Bad Exorcists  2015
14                              Exorcistas  2015
15                     Accidental Exorcist  2016
16                       American Exorcist  2016
17                    Diary of an Exorcist  2016
18                  Exorcist House of Evil  2016

Mostrar cuantas peliculas fueron hechas en el año 1950

In [12]:
print("Películas hechas en 1950:", len(dft[dft["year"]==1950]))

Películas hechas en 1950: 1081

Mostrar cuantas peliculas fueron hechas de 1950 a 1959

In [13]:
print("Películas hechas entre 1950 y 1959:", len(dft[(dft["year"]>=1950) & (dft["year"]<=1959)]))

Películas hechas entre 1950 y 1959: 12606

Mostrar todos los roles o papeles que hubo en la pelicula "The Godfather". También mostrar el número total de coincidencias

In [20]:
gf=dfe[dfe["title"]==("The Godfather")].reset_index()
print("Los papeles en The Godfather son: \n", gf, "\nTotal papeles:", len(gf))

Los papeles en The Godfather son:
       index          title  year                   name     type  \
0     51214  The Godfather  1972        Chris Anastasio    actor
1    102809  The Godfather  1972       Norm Bacchiocchi    actor
2    220852  The Godfather  1972              Rudy Bond    actor
3    248000  The Godfather  1972          Marlon Brando    actor
4    248738  The Godfather  1972             Max Brandt    actor
5    259495  The Godfather  1972         Richard Bright    actor
6    306807  The Godfather  1972             James Caan    actor
7    349145  The Godfather  1972  Richard S. Castellano    actor
8    355932  The Godfather  1972            John Cazale    actor
9    403361  The Godfather  1972           Franco Citti    actor
10   437796  The Godfather  1972          Richard Conte    actor
11   446047  The Godfather  1972        Carmine Coppola    actor
12   446094  The Godfather  1972     Gian-Carlo Coppola    actor
13   446147  The Godfather  1972          Roman Coppola    actor
14   453023  The Godfather  1972     Salvatore Corsitto    actor
15   456074  The Godfather  1972      Don (II) Costello    actor
16   492509  The Godfather  1972          Robert Dahdah    actor
17   613255  The Godfather  1972          Robert Duvall    actor
18   671581  The Godfather  1972           Richard Fass    actor
19   730299  The Godfather  1972      Gray Frederickson    actor
20   748995  The Godfather  1972          Corrado Gaipa    actor
21   790019  The Godfather  1972            Ron Gilbert    actor
22   795073  The Godfather  1972           Tony Giorgio    actor
23   823570  The Godfather  1972       Anthony Gounaris    actor
24   846495  The Godfather  1972          Joe Lo Grippo    actor
25   848619  The Godfather  1972           Sonny Grosso    actor
26   859882  The Godfather  1972             Louis Guss    actor
27   918579  The Godfather  1972        Sterling Hayden    actor
28  1015341  The Godfather  1972         Angelo Infanti    actor
29  1057040  The Godfather  1972        Merril E. Joels    actor
30  1082065  The Godfather  1972        Randy Jurgensen    actor
31  1146749  The Godfather  1972              Tony King    actor
32  1253295  The Godfather  1972       Peter Lemongello    actor
33  1260607  The Godfather  1972            Al Lettieri    actor
34  1279489  The Godfather  1972               Tony Lip    actor
35  1368787  The Godfather  1972            John Marley    actor
36  1381407  The Godfather  1972        Lou Martini Jr.    actor
37  1381599  The Godfather  1972             Al Martino    actor
38  1381650  The Godfather  1972           John Martino    actor
39  1381701  The Godfather  1972        Raymond Martino    actor
40  1438219  The Godfather  1972        Joseph Medaglia    actor
41  1497435  The Godfather  1972          Lenny Montana    actor
42  1642816  The Godfather  1972              Al Pacino    actor
43  1703363  The Godfather  1972        Rick Petrucelli    actor
44  1703382  The Godfather  1972           Joe Petrullo    actor
45  1808526  The Godfather  1972         Victor Rendina    actor
46  1820399  The Godfather  1972          Burt Richards    actor
47  1821261  The Godfather  1972           Sal Richards    actor
48  1847779  The Godfather  1972             Alex Rocco    actor
49  1869206  The Godfather  1972             Tom Rosqui    actor
50  1882679  The Godfather  1972           Nino Ruggeri    actor
51  1888284  The Godfather  1972           Gianni Russo    actor
52  1952800  The Godfather  1972            Vito Scotti    actor
53  2014419  The Godfather  1972           Frank Sivero    actor
54  2051776  The Godfather  1972            Joe Spinell    actor
55  2175947  The Godfather  1972        Gabriele Torrei    actor
56  2210716  The Godfather  1972              Saro Urz?    actor
57  2216872  The Godfather  1972        Nick Vallelonga    actor
58  2226722  The Godfather  1972             Ed Vantura    actor
59  2241142  The Godfather  1972          Ron (II) Veto    actor
60  2244677  The Godfather  1972             Abe Vigoda    actor
61  2254159  The Godfather  1972       Matthew Vlahakis    actor
62  2371276  The Godfather  1972            Conrad Yama    actor
63  2530787  The Godfather  1972          Tybee Brascia  actress
64  2620166  The Godfather  1972         Italia Coppola  actress
65  2620195  The Godfather  1972          Sofia Coppola  actress
66  2811070  The Godfather  1972            Julie Gregg  actress
67  2935727  The Godfather  1972           Diane Keaton  actress
68  2950705  The Godfather  1972           Morgana King  actress
69  3020378  The Godfather  1972         Jeannie Linero  actress
70  3023908  The Godfather  1972           Tere Livrano  actress
71  3137607  The Godfather  1972           Carol Morley  actress
72  3360381  The Godfather  1972        Ardell Sheridan  actress
73  3363276  The Godfather  1972            Talia Shire  actress
74  3390198  The Godfather  1972     Filomena Spagnuolo  actress
75  3399922  The Godfather  1972   Simonetta Stefanelli  actress

                              character     n
0                             Policeman   NaN
1                 Luca Brasi's Assassin   NaN
2                                 Cuneo  15.0
3                     Don Vito Corleone   1.0
4       Extra in Furniture-Moving Scene   NaN
5                                  Neri  21.0
6                        Sonny Corleone   3.0
7                              Clemenza   4.0
8                                 Fredo  14.0
9              Calo - Sicilian Sequence  33.0
10                              Barzini   8.0
11              Piano Player in Montage   NaN
12                     Baptism Observer   NaN
13   Boy on Street Who Attended Funeral   NaN
14                             Bonasera  20.0
15                   Don Victor Stracci   NaN
16                                Crowd   NaN
17                            Tom Hagen   5.0
18                      Tom Hagen's son   NaN
19  Cowboy on the Set at Woltz's Studio   NaN
20    Don Tommasino - Sicilian Sequence  32.0
21                Usher in Bridal Party   NaN
22                      Bruno Tattaglia  23.0
23                Anthony Vito Corleone   NaN
24                    Sonny's Bodyguard   NaN
25                 Cop Outside Hospital   NaN
26                          Don Zaluchi   NaN
27                      Capt. McCluskey   6.0
28         Fabrizio - Sicilian Sequence  31.0
29                  Toll Both Collector   NaN
30                    Sonny's Killer #1   NaN
31                    Tony - Stablehand   NaN
32                               Singer   NaN
33                             Sollozzo   9.0
34                        Wedding Guest   NaN
35                           Jack Woltz   7.0
36                       Boy at Wedding   NaN
37                       Johnny Fontane  16.0
38                         Paulie Gatto  19.0
39               Corleone Family Member   NaN
40                    Priest at Baptism   NaN
41                           Luca Brasi  18.0
42                     Michael Corleone   2.0
43              Lou - Sollozzo's Driver   NaN
44                           Pallbearer   NaN
45                     Philip Tattaglia  26.0
46                      Floral Designer   NaN
47                                Drunk   NaN
48                           Moe Greene  22.0
49                        Rocco Lampone   NaN
50      Mobster at Funeral with Barzini   NaN
51                                Carlo  13.0
52                             Nazorine  24.0
53                         Street Extra   NaN
54                          Willi Cicci   NaN
55                       Enzo the Baker   NaN
56          Vitelli - Sicilian Sequence  34.0
57                  Wedding Party Guest   NaN
58                        Wedding Guest   NaN
59              Extra in Hospital Scene   NaN
60                               Tessio  11.0
61                       Clemenza's Son   NaN
62                         Fruit Vendor   NaN
63              Dancer in Wedding Scene   NaN
64                                Extra   NaN
65                Michael Francis Rizzi   NaN
66                      Sandra Corleone  28.0
67                            Kay Adams  10.0
68                        Mama Corleone  17.0
69                         Lucy Mancini  27.0
70                        Theresa Hagen  25.0
71                          Night Nurse   NaN
72                        Mrs. Clemenza  29.0
73                               Connie  12.0
74               Extra in Wedding Scene   NaN
75        Apollonia - Sicilian Sequence  30.0
Total papeles: 76

Mostrar el elenco completo ordenado por la clasificacion "n" de la pelicula "Dracula" de 1958

In [27]:
drac=dfe[(dfe["title"]==("Dracula")) & (dfe["year"]==1958)].sort_values(by="n").reset_index()
print("Elenco de Dracula de 1958 ordenado por importancia: \n", drac)

Elenco de Dracula de 1958 ordenado por importancia:
       index    title  year                   name     type  \
0    485197  Dracula  1958          Peter Cushing    actor
1   1242307  Dracula  1958        Christopher Lee    actor
2   1242308  Dracula  1958        Christopher Lee    actor
3    822398  Dracula  1958          Michael Gough    actor
4   3410427  Dracula  1958      Melissa Stribling  actress
5   3069196  Dracula  1958            Carol Marsh  actress
6   2677557  Dracula  1958            Olga Dickie  actress
7   2220986  Dracula  1958        John Van Eyssen    actor
8   2777216  Dracula  1958          Valerie Gaunt  actress
9   2731182  Dracula  1958            Janina Faye  actress
10  2444220  Dracula  1958         Barbara Archer  actress
11  1285506  Dracula  1958     Charles Lloyd Pack    actor
12  1453367  Dracula  1958         George Merritt    actor
13  2357769  Dracula  1958      George Woodbridge    actor
14   171732  Dracula  1958          George Benson    actor
15  1347640  Dracula  1958         Miles Malleson    actor
16   148496  Dracula  1958       Geoffrey Bayldon    actor
17   423307  Dracula  1958              Paul Cole    actor
18  1475047  Dracula  1958              Guy Mills    actor
19  1513434  Dracula  1958  Richard (VIII) Morgan    actor
20  1524497  Dracula  1958      John (II) Mossman    actor

                   character     n
0         Doctor Van Helsing   1.0
1                    Dracula   2.0
2              Count Dracula   2.0
3                     Arthur   3.0
4                       Mina   4.0
5                       Lucy   5.0
6                      Gerda   6.0
7                   Jonathan   7.0
8              Vampire Woman   8.0
9                      Tania   9.0
10                      Inga  10.0
11             Doctor Seward  11.0
12                 Policeman  12.0
13                  Landlord  13.0
14                  Official  14.0
15                Undertaker  15.0
16                    Porter  16.0
17                       Lad  17.0
18              Coach Driver   NaN
19  Coach Driver's Companion   NaN
20             Hearse Driver   NaN

Mostrar cuantos papeles de "Bruce Wayne" han sido hechos en la historia de las peliculas

In [32]:
print("Total papeles de Bruce Wayne:", len(dfe[dfe["character"]=="Bruce Wayne"]))

Total papeles de Bruce Wayne: 38

Mostrar cuantos papeles ha hecho "Robert De Niro" en su carrera

In [34]:
print("Total papeles de Robert De Niro:", len(dfe[dfe["name"]=="Robert De Niro"]))

Total papeles de Robert De Niro: 103

Listado de papeles como protagonista (n=1) que tuvo el actor "Charlton Heston" en la década de los 60's, ordenado por año de forma descendente

In [49]:
dfe[(dfe["n"]==1) & (dfe["name"]=="Charlton Heston") & (dfe["year"]>=1960) & (dfe["year"]<=1969)].sort_values(by="year", ascending=False).reset_index().drop(['index'], axis=1)

,title,year,name,type,character,n
0,Number One,1969,Charlton Heston,actor,Ron 'Cat' Catlan,1.0
1,Planet of the Apes,1968,Charlton Heston,actor,George Taylor,1.0
2,Counterpoint,1967,Charlton Heston,actor,Lionel Evans,1.0
3,Will Penny,1967,Charlton Heston,actor,Will Penny,1.0
4,Khartoum,1966,Charlton Heston,actor,Gen. Charles 'Chinese' Gordon,1.0
5,Major Dundee,1965,Charlton Heston,actor,Major Amos Charles Dundee,1.0
6,The Agony and the Ecstasy,1965,Charlton Heston,actor,Michelangelo,1.0
7,The War Lord,1965,Charlton Heston,actor,Chrysagon,1.0
8,55 Days at Peking,1963,Charlton Heston,actor,Maj. Matt Lewis,1.0
9,Diamond Head,1962,Charlton Heston,actor,Richard 'King' Howland,1.0
10,The Pigeon That Took Rome,1962,Charlton Heston,actor,Captain Paul MacDougall,1.0
11,The Pigeon That Took Rome,1962,Charlton Heston,actor,Benny the Snatch,1.0
12,The Pigeon That Took Rome,1962,Charlton Heston,actor,Narrator,1.0
13,El Cid,1961,Charlton Heston,actor,El Cid Rodrigo de Vivar,1.0

Mostrar cuantos papeles para actores hubo en la década de los 50's

In [51]:
print("Total papeles para actores en la década de los 50's:", len(dfe[(dfe["type"]=="actor") & (dfe["year"]>=1950) & (dfe["year"]<=1959)]))

Total papeles para actores en la década de los 50's: 153998

Mostrar cuantos papeles para actrices hubo en la década de los 50's

In [52]:
print("Total papeles para actores en la década de los 50's:", len(dfe[(dfe["type"]=="actress") & (dfe["year"]>=1950) & (dfe["year"]<=1959)]))

Total papeles para actores en la década de los 50's: 56004