Importa pandas y usa un alias para poder utilizar sus recursos

In [50]:
import pandas as pd

Cargar como dataframe de pandas el csv imdb_titulos.csv y mostrar sus 5 primeros registros

In [51]:
ruta = "./imdb_titulos.csv"
dft = pd.read_csv(ruta, delimiter=",")
dft.head(5)

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

Cargar como dataframe de pandas el csv imdb_elenco.csv y mostrar sus 5 primeros registros

In [52]:
ruta = "./imdb_elenco.csv"
dfe = pd.read_csv(ruta, delimiter=",")
dfe.head(5)

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

Mostrar el número de registros del dataframe de titulos

In [53]:
print("Número de titulos:", len(dft))

Número de titulos: 230407

Mostrar el número de registros del dataframe de elenco

In [54]:
print("Número de registros en elenco:", len(dfe))

Número de registros en elenco: 3564650

Mostrar las 5 peliculas más antiguas del listado de titulos

In [55]:
print("Las 5 películas más antiguas son: \n")
dft.sort_values(by="year").head(5)

Las 5 películas más antiguas son:

                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

Mostrar las peliculas que en el titulo tienen la palabra "Dracula". También mostrar el número total de peliculas que coincidan con este requisito

In [103]:
pd.options.display.max_rows = None
drac=dft[dft["title"].str.contains("Dracula")].reset_index().drop(['index'], axis=1)
print("Las películas con Dracula en el nombre son: \n", drac, "\nTotal películas:", len(drac))

Las películas con Dracula en el nombre son:
                                                 title  year
0                          Bonnie & Clyde vs. Dracula  2008
1                                    House of Dracula  1945
2                                      Batman Dracula  1964
3                                   Terror of Dracula  2012
4                                      Dracula Rising  1993
5                                    Die Hard Dracula  1998
6                         Dracula (The Dirty Old Man)  1969
7                                    Scars of Dracula  1970
8                                             Dracula  1992
9                    Dracula vs the Ninja on the Moon  2009
10                                            Dracula  1958
11  Il cav. Costante Nicosia demoniaco, ovvero: Dr...  1975
12                                   Tales of Dracula  2015
13                                   Blood of Dracula  1957
14                                     Tendre Dracula  1974
15                          Blood of Dracula's Castle  1969
16                             Dracula's Family Visit  2006
17                                            Dracula  1999
18                   Dracula Has Risen from the Grave  1968
19               Dracula: Pages from a Virgin's Diary  2002
20                                 I Dream of Dracula  2003
21                                     Dracula Reborn  2015
22                              The Brides of Dracula  1960
23              Guess What Happened to Count Dracula?  1971
24                                            Dracula  1931
25                           Galgali familywa Dracula  2003
26                                       Dracula 2012  2013
27                                    Dracula's Guest  2008
28                       Billy the Kid Versus Dracula  1966
29                                     Khooni Dracula  1992
30                                    Dawn of Dracula  2013
31                              The Return of Dracula  1958
32                              Batman Fights Dracula  1967
33                                        Dracula 0.9  2012
34                                  Dracula A.D. 2015  2015
35                                       Lady Dracula  1977
36                        Les Charlots contre Dracula  1980
37                                The Sins of Dracula  2014
38                                       Mama Dracula  1980
39                                Dracula the Impaler  2002
40                                         Dracula 3D  2012
41                                  Blood for Dracula  1974
42                            Fracchia contro Dracula  1985
43                                    Dracula's Widow  1988
44                                    Cult of Dracula  2016
45                                      Dracula's War  2018
46                        Dracula: Dead and Loving It  1995
47                                  Kwansukui Dracula  1982
48                                    Dracula: Reborn  2012
49                                            Dracula  2019
50                                     Son of Dracula  1943
51                            Il risveglio di Dracula  1963
52                        Dracula: Prince of Darkness  1966
53                 The Making of 'Dracula and Stoker'  2012
54                                   Countess Dracula  1971
55                                     Dracula Untold  2014
56                                   Dreaming Dracula  2014
57                         Creep Creepersin's Dracula  2013
58                                       Dracula 2000  2000
59                                            Dracula  1979
60                                    Dracula's Curse  2006
61                         Graf Dracula in Oberbayern  1979
62                                   Shaitani Dracula  2006
63                          Killer Barbys vs. Dracula  2002
64                                 Dracula's Daughter  1936
65                       Dracula's Orgy of the Damned  2013
66                                       Dracula 3000  2004
67                           Dracula vs. Frankenstein  1971
68                                     Doctor Dracula  1978
69                           Frankenstein vs. Dracula  2018
70                           Dracula: The Dark Prince  2013
71      Allen and Rossi Meet Dracula and Frankenstein  1974
72                                La fille de Dracula  1972
73                                   Saint Dracula 3D  2012
74                                    Dracula's Angel  2014
75                       Nachts, wenn Dracula erwacht  1970
76                         Taste the Blood of Dracula  1970
77                                  Dracula A.D. 1972  1972
78                                      Dracula's Dog  1978
79                                        Dracula Now  2015
80                       The Satanic Rites of Dracula  1973
81                                     Son of Dracula  1974
82                                 Dracula and Stoker  2012
Total películas: 83

Mostrar los 10 titulos más comunes (que más se repiten)

In [67]:
print("Los 10 títulos más comunes son:") 
dft["title"].value_counts().head(10)

Los 10 títulos más comunes son:

Hamlet                  19
Carmen                  16
Macbeth                 15
Maya                    11
The Outsider            11
Hero                    11
Othello                 11
The Three Musketeers    11
Anna                    10
Vengeance               10
Name: title, dtype: int64

Mostrar cual fue la primer pelicula hecha titulada "Romeo and Juliet"

In [104]:
RyJ=dft[dft["title"].str.contains("Romeo and Juliet")].sort_values(by="year").head(1).reset_index().drop(['index'], axis=1)
print(RyJ)
print("La primera película titulada {} fue estrenada en {}".format(RyJ['title'].iloc[0], RyJ['year'].iloc[0]))

              title  year
0  Romeo and Juliet  1916
La primera película titulada Romeo and Juliet fue estrenada en 1916

Listar todas las peliculas que contengan la palabra "Exorcist" ordenadas de la más vieja a la más reciente

In [105]:
dft[dft["title"].str.contains("Exorcist")].sort_values(by="year").reset_index().drop(['index'], axis=1)

                                     title  year
0                             The Exorcist  1973
1                  O Exorcista de Mulheres  1974
2                 Exorcist II: The Heretic  1977
3                         Kung Fu Exorcist  1978
4                         The Exorcist III  1990
5                         Teenage Exorcist  1991
6                  Exorcist: The Beginning  2004
7        Dominion: Prequel to the Exorcist  2005
8   Costa Chica: Confession of an Exorcist  2006
9                      Exorcist Chronicles  2007
10                      The Disco Exorcist  2011
11                     Exorcist Chronicles  2013
12                          Shark Exorcist  2015
13                           Bad Exorcists  2015
14                              Exorcistas  2015
15                     Accidental Exorcist  2016
16                       American Exorcist  2016
17                    Diary of an Exorcist  2016
18                  Exorcist House of Evil  2016

Mostrar cuantas peliculas fueron hechas en el año 1950

In [115]:
print("Películas hechas en 1950:", len(dft[dft["year"]==1950]))

Películas hechas en 1950: 1081